<p>Hi,</p>
<div>
<div>A new onboarding request has been made using the Self Service Developer Workflow.</div>
<div>&nbsp;</div>
<div>Below you can find the information for the generated artifacts.</div>
<div>&nbsp;&nbsp;</div>
<div>
<div>Application Repository: <a href="{{ gitlab_group_url }}/{{ app_code}}-{{ app_purpose }}" target="_blank" rel="noopener">link</a></div>
<div>Jenkins: <a href="https://jenkins-{{ app_code}}-{{ app_purpose }}-ci.{{ apps_url }}" target="_blank" rel="noopener">link</a></div>
<div>Openshift Project Names:</div>
<ul style="list-style-type: square;">
<li>{{ app_code}}-{{ app_purpose }}-ci</li>
<li>{{ app_code}}-{{ app_purpose }}-dev</li>
<li>{{ app_code}}-{{ app_purpose }}-test</li>
<li>{{ app_code}}-{{ app_purpose }}-qa</li>
</ul>
<div>
<div>&nbsp;</div>
<div>Regards,</div>
<div>The Open Innovation Labs Team</div>
<div>&nbsp;</div>
<div><img src="https://www.redhat.com/cms/managed-files/RHOIL_LogoBadge_RGB_Default.png" alt="" width="111" height="82" /></div>
</div>
</div>
</div>